.DS_Store
.env
.idea
.phpunit.result.cache

/.fleet
/.idea
/.phpunit.cache
/phpunit.xml
/.vscode

# Ignore dynamic builds from utilities...
public/build

# Ignore everything inside these folders...
storage/private/*
storage/protect/*
storage/public/*

# ...but keep the folders and their .htaccess files
!storage/private/.htaccess
!storage/protect/.htaccess
!storage/public/.htaccess

logs
composer.phar
composer.lock
Thumbs.db
