Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect root to public directory
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]

  php_value short_open_tag 1
</IfModule>
